.green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.green:hover {
    -fx-background-color:
     linear-gradient(#a9ff00, #f0ff35),
     radial-gradient(center 50% -40%, radius 200%, #80c800 45%, #b8ee36 50%);
}
.root {
     -fx-background-image: url("background.jpg");
}
.text1 {
  -fx-font-size: 32px;
 -fx-font-family: "Arial Black";
 -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, white 0%, red 50%);
 -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.text2 {
    -fx-font: 20px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;

}
.root2{
  -fx-background-image: url("DungeonFloor1.png");
}
.label{
  -fx-font: 20px Tahoma;
  -fx-fill: white;
}
